<div>
  <div>
    <h1>
      Meal #<%= @the_meal.id %> details
    </h1>

    <div>
      <div>
        <a href="/meals">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_meal/<%= @the_meal.id %>">
          Delete meal
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_meal.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_meal.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_meal.description %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @the_meal.date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meal.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meal.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit meal
    </h2>

    <form action="/modify_meal/<%= @the_meal.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_meal.user_id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_meal.name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_meal.description %></textarea>
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_meal.date %>">
      </div>

      <button>
        Update meal
      </button>
    </form>
  </div>
</div>

<hr>
